

.login-form {
display: flex;
flex-direction: column;
}

button {
border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
border: none;
background: #4e75ff;
color: #fff;
font-family: "Montserrat", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
font-weight: 500;
}

.login-form>label{
display: flex;
flex-direction: column;
gap: 8px;
margin-bottom: 8px;
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}


input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    outline: none;
}
