.gallery {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 166px;
    padding-left: 156px;
}
.btn-back {
    text-decoration: none;
    padding: 5px;
    background: #f6f6fe;
    border-radius: 4px;
    color: #2e2f42;
    border: 2px solid rgb(210, 210, 210);
}